html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.content {
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: monospace;
  box-sizing: border-box;
}
.inner {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  width: 100%;
  bottom: 0px;
  padding: 18px;
}
h1 {
  max-width: 632px;
  margin: 0 auto;
  padding: 18px;
  font-weight: normal;
}
#textbox {
  width: 100%;
  position: relative;
  max-width: 632px;
  box-sizing: border-box;
  height: 50px;
  z-index: 100;
  font-family: monospace;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
  overflow: hidden;
  padding: 8px;
  display: block;
  margin: 0 auto;
  transition: border 100ms;
}
#textbox:focus {
  outline: none;
  border: 1px solid #4D89FF;
}
#suggestions {
  width: 100%;
  max-width: 632px;
  margin: 0 auto;
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
#suggestions li {
  background: white;
  display: inline-block;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
  padding: 8px;
  transition: background 100ms;
  cursor: pointer;
}
#suggestions li:first-child {
  border-left: 1px solid #ccc;
}
#suggestions li:last-child {
  border-right: 1px solid #ccc;
}
.suggestion {
  margin-top: 25px;
  position: relative;
}
.suggestion-number {
  position: absolute;
  top: -20px;
  text-align: center;
  width: 100%;
  left: 0px;
  color: #ccc;
  transition: top 100ms;
}
#suggestions li:hover .suggestion-number {
  top: -25px;
}
#history ul {
  width: 100%;
  max-width: 632px;
  margin: 0 auto 10px auto;
  position: relative;
  font-size:14px;
  list-style-type: none;
  padding: 0; 
}
#history.static {
  height: 60vh;
  overflow:scroll;
}
#history ul li {
  position: relative;
  padding: 10px;
}